{
  "First User": [
    {
      "type": "text",
      "content": "This is a sample text message."
    },
    {
      "type": "image",
      "file_name": "image_file_1.png",
      "caption": "Image caption."
    }
  ],
  "Second User":[
    {
      "type": "datetime-text",
      "content": "%(datetime)s - This is a sample text message with timestamp."
    },
    {
      "type": "image",
      "file_name": "image_file_2.png",
      "caption": "Image caption"
    }
  ]
}